
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponenetPartial")
		@await Component.InvokeAsync("_LayoutSideBarComponenetPartial")
		
		@RenderBody()
	</div>
	</div>
	<!-- Modal -->

</body>
@await Component.InvokeAsync("_LayoutScriptComponenetPartial")
</html>